In [4]:
# Download data
!gdown 1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
!mkdir data
!mv advertising.csv data

Downloading...
From: https://drive.google.com/uc?id=1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
To: /Users/toanne/Desktop/AIO/Main Course/AIVN-AIO2024/module2/advertising.csv
100%|██████████████████████████████████████| 4.06k/4.06k [00:00<00:00, 9.15MB/s]

In [13]:
import pandas as pd
import numpy as np

df = pd.read_csv('data/advertising.csv')
df.head()

      TV  Radio  Newspaper  Sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3   12.0
3  151.5   41.3       58.5   16.5
4  180.8   10.8       58.4   17.9

In [14]:
data = df.to_numpy()

### Sales Max value and index

In [16]:
print(np.max(data[:, 3]))
print(np.argmax(data[:, 3]))

27.0
175

### TV mean

In [17]:
np.mean(data[:, 0])

147.0425

### Count records where Sales >= 20

In [18]:
np.sum(data[:, 3] >= 20)

40

### Count average value of Radio where Sales >= 15

In [22]:
sales_mask = data[:, 3] >= 15
np.mean(data[sales_mask, 1])

26.22293577981651

### Sum Sales values where Newspaper > mean Newspaper

In [32]:
newspaper_col = data[:, 2]
mean_newspaper = np.mean(newspaper_col)
np.sum(data[newspaper_col > mean_newspaper, 3])

1405.1

In [39]:
def get_score(value, mean) -> str:
    if value > mean:
        return 'Good'
    if value < mean:
        return 'Bad'
    return 'Average'

In [37]:
mean_sales = np.mean(data[:, 3])
scores = np.array([get_score(value, mean_sales) for value in data[:, 3]])
scores[7:10]

array(['Bad', 'Bad', 'Good'], dtype='<U4')

In [36]:
scores = np.where(
    data[:, 3] > mean_sales,
    'Good', 
    np.where(
        data[:, 3] < mean_sales,
        'Bad',
        'Average'
    )
)

scores[7:10]

array(['Bad', 'Bad', 'Good'], dtype='<U7')

In [43]:
nearest_sales = np.abs(data[:, 3] - mean_sales).argmin()
nearest_sales = data[nearest_sales, 3]

scores = np.array([get_score(value, nearest_sales) for value in data[:, 3]])
scores[7:10]

array(['Bad', 'Bad', 'Good'], dtype='<U7')